#calculator{
  border: 1px solid rgb(187, 183, 183);
  border-radius: 5px;
  width: 200px;
} 
#display{
  margin: 10px;
  width: 86%;
  font-size: 30px;
  text-align: left;
  grid-column: span 4;
}

.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  width: 49px;
  height: 47px;
  margin: 3px;
}

